// .header_top {
//   display: none;
// }

.grid-row {
  display: grid;
  grid-template-columns:
    [full-start] minmax(5%, 1fr) [main-start] minmax(0, 1200px)
    [main-end] minmax(5%, 1fr) [full-end];
}

.megamenu {
  position: absolute;
  left: 0;
  top: 109px;
  width: 100vw;
  background: #fff;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: opacity 300ms, visibility 300ms;
  border-top: 1px solid #ccc;
  pointer-events: none;

  &:before {
    width: 100%;
    position: absolute;
    height: 3rem;
    top: -3rem;
    left: 0;
    content: "";
  }

  &.active,
  &:hover {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity 300ms, visibility 300ms;
    pointer-events: all;
  }
  .megamenu__inner {
    grid-area: main;
    padding: 2rem 15px;
  }
}

.megamenu--languages {
  a {
    color: #666;

    &:hover {
      color: #111;
    }
  }
  .megamenu__inner {
    column-count: 6;
    column-gap: 30px;
    > ul {
      min-width: 0;
      margin-bottom: 1rem;
      display: inline-block;
      width: 100%;

      &:last-child {
        margin: 0;
      }
      > li {
        font-size: 0.9em;
        margin-bottom: 0.1rem;

        &:first-child {
          font-weight: 600;
          border: 1px solid #666;
          display: flex;
          width: 1.5rem;
          height: 1.5rem;
          text-align: center;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          line-height: 1em;
        }
      }
      ul.specialty {
        font-size: 0.9em;

        li {
          position: relative;
          padding-left: 0.75rem;
          font-style: italic;

          &:before {
            content: "+";
            position: absolute;
            left: 0;
            top: 0;
            font-style: normal;
          }
        }
      }
    }
  }
  ul.quicklinks {
    list-style: none;
    display: flex;
    grid-area: main;
    margin: 0 15px;
    border-top: 1px solid #ccc;
    padding: 1rem 0;

    li {
      margin-right: 2rem;
      a {
        color: #333;
      }
    }
  }
}
.megamenu--organizations,
.megamenu--resources {
  a {
    color: #333;

    &:hover {
      color: #111;
    }
  }
  h5 {
    font-size: 1em;
  }
  .megamenu__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;

    // > div:nth-child(1) {
    // }
    > div:nth-child(2) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;

      a {
        display: flex;
        width: 100%;
        align-items: flex-start;

        img {
          width: 4rem;
        }
        div {
          padding-left: 1rem;

          p {
            font-size: 0.8em;
            line-height: normal;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
