.megamenu {
  position: absolute;
  left: calc((100% - 1200px) / 2);
  top: 109px;
  width: 1200px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: opacity 300ms, visibility 300ms;
  pointer-events: none;

  &:before {
    width: 100%;
    position: absolute;
    height: 3rem;
    top: -3rem;
    left: 0;
    content: "";
  }
  &:after {
    width: 100vw;
    position: absolute;
    height: 100%;
    top: 0;
    left: calc((100vw - 1200px) / -2);
    content: "";
    z-index: -1;
    background: #fff;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    pointer-events: none;
    border-top: 1px solid #ccc;
  }

  &.active,
  &:hover {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity 300ms, visibility 300ms;
    pointer-events: all;
  }
}

.megamenu--languages {
  padding-top: 1rem;

  a {
    color: #666;

    &:hover {
      color: #111;
    }
  }
  .megamenu__inner {
    column-count: 6;
    column-gap: 30px;

    > ul {
      min-width: 0;
      margin-bottom: 1rem;
      display: inline-block;
      width: 100%;

      &:last-child {
        margin: 0;
      }
      > li {
        font-size: 0.9em;
        margin-bottom: 0.1rem;

        &:first-child {
          font-weight: 600;
          border: 1px solid #666;
          display: flex;
          width: 1.5rem;
          height: 1.5rem;
          text-align: center;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          line-height: 1em;
        }
      }
      ul.specialty {
        font-size: 0.9em;

        li {
          position: relative;
          padding-left: 0.75rem;
          font-style: italic;

          &:before {
            content: "+";
            position: absolute;
            left: 0;
            top: 0;
            font-style: normal;
          }
        }
      }
    }
  }
  ul.quicklinks {
    list-style: none;
    display: flex;
    grid-area: main;
    margin: 0;
    border-top: 1px solid #ccc;
    padding: 1rem 0;

    li {
      margin-right: 2rem;
      a {
        color: #333;
      }
    }
  }
}
.megamenu--organizations,
.megamenu--resources {
  padding-top: 2rem;

  a {
    color: #333;

    &:hover {
      color: #111;
    }
  }
  h5 {
    font-size: 1em;
  }
  .megamenu__inner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
  }
  > .container {
    > .row {
      > div:nth-child(2) {
        a {
          display: flex;
          width: 100%;
          align-items: flex-start;
          margin-bottom: 2rem;

          > div:nth-child(1) {
            width: 15%;
            img {
              width: 100%;
              height: auto;
            }
          }

          > div:nth-child(2) {
            width: 85%;
            padding-left: 1rem;

            p {
              font-size: 0.8em;
              line-height: normal;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
