/*****************************************/
/* EVENTS Hubspot Form stylsheet */
/*****************************************/
.privacy_team_tab_panel .hbspt-form,
.hbspt-form{
    max-width: 850px;
    margin: 0 auto;
    align-self: center;
    padding: 0 0 15px 0;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    justify-content: center;
  }
  @media (max-width: 1080px) {
    .privacy_team_tab_panel .hbspt-form,
    .hbspt-form {
      width: 100%;
    }
  }
  @media (max-width: 550px) {
    .privacy_team_tab_panel .hbspt-form,
    .hubspot-form,
    .hubspot-form-green-submit,
    .hubspot-form-white-submit {
      width: 95%;
    }
  }
  .privacy_team_tab_panel .hbspt-form,
  .small-form .hbspt-form {
    max-width: 450px;
  }
  .hbspt-form .submitted-message {
    max-width: 500px;
    margin: 50px auto;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
  }
  .hbspt-form .submitted-message a {
    text-decoration: none;
  }
  .hbspt-form .submitted-message a:hover {
    text-decoration: underline;
  }
  @media (max-width: 470px) {
    .hbspt-form .submitted-message {
      font-size: 26px;
      line-height: 30px;
    }
  }
  .hbspt-form .legal-consent-container {
    font-size: 12px;
    line-height: 1.2em;
  }
  .hbspt-form .legal-consent-container span {
    font-size: 12px;
    line-height: 1.2em;
  }
  .hbspt-form .legal-consent-container p {
    font-size: 12px;
    line-height: 1.2em;
  }
  .hbspt-form .legal-consent-container a {
    font-size: 12px;
    line-height: 1.2em;
    color: #1d98d5;
    text-decoration: none;
    margin: 0;
  }
  .hbspt-form .legal-consent-container a:hover {
    text-decoration: underline;
  }
  .hbspt-form .legal-consent-container a {
    color: #1d98d5;
  }
  .hbspt-form {
    width: 100%;
  }
  .hbspt-form .hs-form-field > label {
    display: block;
    padding: 0 0 3px;
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    text-align: initial;
    font-weight: bold;
  }
  // required star in label
  .hbspt-form .hs-form-field > label .hs-form-required {
    color: red !important;
    margin-left: 4px;
  }
  .hbspt-form .form-header h1 {
    font-size: 35px;
    font-weight: 100;
    color: #fff;
    line-height: normal;
    -webkit-font-smoothing: antialised;
  }
  .hbspt-form .form-header p {
    font-size: 18px;
    line-height: 20pt;
    color: #fff;
    margin: 15px 0px;
  }
  .hbspt-form .form-columns-1 {
    margin-top: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hbspt-form .form-columns-1 label {
    color: #fff;
    color: #33475b;
  }
  .hbspt-form .form-columns-1 input {
    width: 100% !important;
  }
  .hbspt-form .form-columns-1 select {
    width: 100% !important;
    height: 30px;
    background: #fff;
  }
  @media (max-width: 490px) {
    .hbspt-form .form-columns-1 {
      width: 100%;
    }
  }
  .hbspt-form .form-columns-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hbspt-form .form-columns-2 label {
    color: #33475b;
  }
  .hbspt-form .form-columns-2 select {
    width: 100% !important;
    height: 30px;
    background: #fff;
  }
  @media (max-width: 490px) {
    .hbspt-form .form-columns-2 {
      width: 100%;
    }
  }
  .hbspt-form .form-columns-3 {
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hbspt-form .form-columns-3 label {
    color: #fff;
  }
  .hbspt-form .form-columns-3 input {
    width: 100% !important;
  }
  .hbspt-form .form-columns-3 select {
    width: 100% !important;
    height: 30px;
    background: #fff;
  }
  @media (max-width: 490px) {
    .hbspt-form .form-columns-3 {
      width: 100%;
    }
  }
  .hbspt-form .form-columns-4 {
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hbspt-form .form-columns-4 label {
    color: #fff;
  }
  .hbspt-form .form-columns-4 input {
    width: 100% !important;
  }
  .hbspt-form .form-columns-4 select {
    width: 100% !important;
    height: 30px;
    background: #fff;
  }
  @media (max-width: 490px) {
    .hbspt-form .form-columns-4 {
      width: 100%;
    }
  }
  .hbspt-form .hs_submit {
    margin-top: 20px;
    float: none;
    flex: 1 0 0%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    justify-content: center;
  }
  .hbspt-form .hs_submit input {
    border: none;
    color: #fff;
    background: #1d98d5;
    border-color: #1d98d5;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0;
    border-radius: 0;
    padding: 8px 20px;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 16px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    display: inline-block;
  }
  .hbspt-form .hs_submit input:hover {
    border: none;
    cursor: pointer;
    color: #fff !important;
    background: #1d98d5;
    border-color: #1d98d5;
    display: block;
    text-decoration: none;
  }
  .hbspt-form .input ul {
    padding-left: 0px !important;
    margin: 0.2em 0 1em 0;
  }
   .hbspt-form .hs-form-radio {
    list-style: none !important;
  }
  .hbspt-form .hs-form-radio input {
    width: auto !important;
    margin-right: 15px;
    line-height: 1.3em;
  }
  .hbspt-form .hs-form-checkbox span {
    list-style: none !important;
    letter-spacing: -1px;
    font-weight: 400;
    text-indent: -1em;
    padding-left: 0.5em;
  }
  .hbspt-form .hs-form-checkbox input {
    width: 10% !important;
  }
  .hbspt-form input[type="text"], .hbspt-form input[type="password"], .hbspt-form input[type="datetime"], .hbspt-form input[type="datetime-local"], .hbspt-form input[type="date"], .hbspt-form input[type="month"], .hbspt-form input[type="time"], .hbspt-form input[type="week"], .hbspt-form input[type="number"], .hbspt-form input[type="email"], .hbspt-form input[type="url"], .hbspt-form input[type="search"], .hbspt-form input[type="tel"], .hbspt-form input[type="color"], .hbspt-form input[type="file"], .hbspt-form textarea, .hbspt-form select {
    width: 100% !important;
    background-color: #fff;
    border: medium none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
    color: #000;
    display: block;
    margin: 3px 0 15px;
    height: 35px !important;
  }
  .hbspt-form textarea {
    height: 5.5em !important;
  }
  .hbspt-form form.hs-form .hs-form-field ul.inputs-list {
    list-style: none;
    padding: 0;
  }
  .hbspt-form .hs_cos_wrapper_type_form input[type="text"], .hbspt-form .hs_cos_wrapper_type_form input[type="password"], .hbspt-form .hs_cos_wrapper_type_form input[type="datetime"], .hbspt-form .hs_cos_wrapper_type_form input[type="datetime-local"], .hbspt-form .hs_cos_wrapper_type_form input[type="date"], .hbspt-form .hs_cos_wrapper_type_form input[type="month"], .hbspt-form .hs_cos_wrapper_type_form input[type="time"], .hbspt-form .hs_cos_wrapper_type_form input[type="week"], .hbspt-form .hs_cos_wrapper_type_form input[type="number"], .hbspt-form .hs_cos_wrapper_type_form input[type="email"], .hbspt-form .hs_cos_wrapper_type_form input[type="url"], .hbspt-form .hs_cos_wrapper_type_form input[type="search"], .hbspt-form .hs_cos_wrapper_type_form input[type="tel"], .hbspt-form .hs_cos_wrapper_type_form input[type="color"], .hbspt-form .hs_cos_wrapper_type_form input[type="file"], .hbspt-form .hs_cos_wrapper_type_form textarea, .hbspt-form .hs_cos_wrapper_type_form select {
    width: 100% !important;
  }
  .hbspt-form #hs_form_target_blog_subscription input[type="radio"], .hbspt-form #hs_form_target_blog_subscription input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }
  .hbspt-form ul.inputs-list {
    list-style-type: none !important;
    padding: 0;
  }
  .hbspt-form form.hs-form fieldset {
    max-width: none;
  }
  .hbspt-form form.hs-form fieldset .hs-form-field {
    padding: 0;
  }
  .hbspt-form .form-columns-2 .hs-form-field:first-child {
    padding-left: 0 !important;
    padding-right: 1.5% !important;
  }
  .hbspt-form .form-columns-2 .hs-form-field:last-child {
    padding-left: 1.5% !important;
    padding-right: 0 !important;
  }
  @media screen and (max-width: 480px) {
    .hbspt-form .form-columns-2 .hs-form-field:first-child {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .hbspt-form .form-columns-2 .hs-form-field:last-child {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
  .hbspt-form form.hs-form fieldset[class*="form-columns"] .input {
    margin-right: 0;
  }
  .hbspt-form form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] {
    width: auto !important;
  }
  .hbspt-form form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] span {
    list-style: none !important;
    letter-spacing: -1px;
    font-weight: 400;
    text-indent: -1em;
    padding-left: 0.5em;
  }
  .hbspt-form form.hs-form fieldset.form-columns-3 .hs-form-field {
    width: 33.33%;
  }
  .hbspt-form .hs-input.invalid.error {
    margin-bottom: 5px;
  }
  .hbspt-form .hs-error-msgs.inputs-list {
    margin: 0px 0px 6px 2px !important;
  }
  .hbspt-form .hs-error-msgs.inputs-list li,
  .hbspt-form .hs-error-msgs.inputs-list li label{
    padding: 0px 0px 0px 0px;
    font-size: 13px;
    line-height: 1em;
    letter-spacing: -0.6px;
    color: #F93822 !important;
    text-align: left;
  }
  @media (max-width: 400px) {
    .hbspt-form form.hs-form fieldset .hs-form-field {
      padding: 0;
    }
    .hbspt-form form.hs-form fieldset.form-columns-3 .hs-form-field, .hbspt-form form.hs-form .form-columns-2 .hs-form-field .hs-input, .hbspt-form form.hs-form .form-columns-3 .hs-form-field .hs-input {
      width: 100%;
    }
    .hbspt-form form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] {
      width: auto !important;
    }
  }
  .hbspt-form .hs-button.primary, .hbspt-form input[type="submit"], .hbspt-form input[type="button"] {
    cursor: pointer;
    border: medium none;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    font: 600 16px/20px sans-serif !important;
    display: block;
    margin: 0 auto;
  }
  .hbspt-form .hs-button.primary:hover, .hbspt-form input[type="submit"]:hover, .hbspt-form input[type="button"]:hover {
    border: medium none;
    border-radius: 0;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font: 600 16px/20px sans-serif !important;
  }
  .hbspt-form .hs_cos_wrapper_type_form .hs-button.primary.large {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hbspt-form .legal-consent-container {
    font-size: 12px;
    line-height: 1.2em;
  }
  .hbspt-form .legal-consent-container p {
    font-size: 12px;
    line-height: 1.2em;
    text-align: left;
  }
  .hbspt-form .legal-consent-container span {
    font-size: 12px;
    line-height: 1.2em;
  }
  .hubspot-form-white-submit .hs-button.primary, .hubspot-form-white-submit input[type="submit"], .hubspot-form-white-submit input[type="button"] {
    border: none;
    background-color: white;
  }
  .hubspot-form-white-submit .hs-button.primary:hover, .hubspot-form-white-submit input[type="submit"]:hover, .hubspot-form-white-submit input[type="button"]:hover {
    border: none;
    background-color: white;
    opacity: 0.75;
  }
  .hubspot-form-black-text .form-header h1 {
    font-size: 35px;
    font-weight: 100;
    color: #666;
    line-height: normal;
    -webkit-font-smoothing: antialised;
  }
  .hubspot-form-black-text .form-header p {
    font-size: 18px;
    line-height: 20pt;
    color: #666;
    margin: 15px 0px;
  }
  .hubspot-form-black-text .form-columns-1 {
    margin-top: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hubspot-form-black-text .form-columns-1 label {
    color: #666;
  }
  .hubspot-form-black-text .form-columns-1 input {
    width: 100% !important;
  }
  .hubspot-form-black-text .form-columns-1 select {
    width: 100% !important;
    height: 30px;
    background: #fff;
  }
  @media (max-width: 490px) {
    .hubspot-form-black-text .form-columns-1 {
      width: 100%;
    }
  }
  .hubspot-form-black-text .form-columns-2 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hubspot-form-black-text .form-columns-2 label {
    color: #666;
  }
  .hubspot-form-black-text .form-columns-2 input {
    width: 100% !important;
  }
  .hubspot-form-black-text .form-columns-2 select {
    width: 100% !important;
    height: 30px;
    background: #fff;
  }
  @media (max-width: 490px) {
    .hubspot-form-black-text .form-columns-2 {
      width: 100%;
    }
  }
  .hubspot-form-black-text .form-columns-3 {
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hubspot-form-black-text .form-columns-3 label {
    color: #666;
  }
  .hubspot-form-black-text .form-columns-3 input {
    width: 100% !important;
  }
  .hubspot-form-black-text .form-columns-3 select {
    width: 100% !important;
    height: 30px;
    background: #fff;
  }
  @media (max-width: 490px) {
    .hubspot-form-black-text .form-columns-3 {
      width: 100%;
    }
  }
  .hubspot-form-black-text .form-columns-4 {
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hubspot-form-black-text .form-columns-4 label {
    color: #666;
  }
  .hubspot-form-black-text .form-columns-4 input {
    width: 100% !important;
  }
  .hubspot-form-black-text .form-columns-4 select {
    width: 100% !important;
    height: 30px;
    background: #fff;
  }
  @media (max-width: 490px) {
    .hubspot-form-black-text .form-columns-4 {
      width: 100%;
    }
  }
  .hubspot-form-black-text .hs_submit {
    margin-top: 20px;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
  }
  .hubspot-form-black-text .hs_submit input {
    border: none;
    color: #fff !important;
    padding: 15px 18px;
    background-color: #fbae3f;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    border-radius: 30px !important;
    display: block;
    min-width: 130px;
    width: auto;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
  }
  .hubspot-form-black-text .hs_submit input:hover {
    border: none;
    cursor: pointer;
    color: #fff !important;
    padding: 15px 18px;
    background-color: #f4a031;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    border-radius: 30px !important;
    display: block;
    min-width: 130px;
    width: auto;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
  }
  .hubspot-form-black-text .input ul {
    padding-left: 0px !important;
    margin: 0.2em 0 1em 0;
  }
  .hubspot-form-black-text .hs-form-radio {
    list-style: none !important;
  }
  .hubspot-form-black-text .hs-form-radio input {
    width: auto !important;
    margin-right: 15px;
    line-height: 1.3em;
  }
  .hubspot-form-black-text .hs-form-checkbox {
    list-style: none !important;
    letter-spacing: -1px;
    font-weight: 400;
    padding-bottom: 0.7em;
    line-height: 1.1em;
    text-indent: -1.8em;
    padding-left: 1.4em;
  }
  .hubspot-form-black-text .hs-form-checkbox input {
    width: 10% !important;
  }
  .legal-consent-container {
    font-size: 12px;
    line-height: 1.2em;
  }
  .legal-consent-container p {
    font-size: 12px;
    line-height: 1.2em;
  }
  .legal-consent-container span {
    font-size: 12px;
    line-height: 1.2em;
  }
  .form-submit-left .hbspt-form .hs_submit {
    justify-content: flex-start;
  }
  .indent-fields input[type="text"], .indent-fields input[type="password"], .indent-fields input[type="datetime"], .indent-fields input[type="datetime-local"], .indent-fields input[type="date"], .indent-fields input[type="month"], .indent-fields input[type="time"], .indent-fields input[type="week"], .indent-fields input[type="number"], .indent-fields input[type="email"], .indent-fields input[type="url"], .indent-fields input[type="search"], .indent-fields input[type="tel"], .indent-fields input[type="color"], .indent-fields input[type="file"], .indent-fields textarea, .indent-fields select {
    margin-left: 10%;
    margin-right: 0;
    width: 100% !important;
  }







/* #### Blog Subscribe newsletter footer ###### */
.footer-newsletter #hsSubscribeFooter .hbspt-form .submitted-message{
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}

.footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button{
  line-height: 1.3em!important;
  padding: 6px 18px!important;
  height: auto !important;
  font-size: 16px;
  font-family: "proxima-nova" !important;
}
.footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button:hover,
.footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button:active,
.footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button:focus{
  line-height: 1.3em!important;
  padding: 6px 18px!important;
  height: auto !important;
  font-size: 16px;
  font-family: "proxima-nova" !important;
}

.footer-newsletter #hsSubscribeFooter .hbspt-form .hs-error-msgs,
.footer-newsletter #hsSubscribeFooter .hbspt-form .hs_error_rollup{
  max-width: 90%;
  display: none !important;
}

