// Main Banner
section.octbnr {
  .ocbtbnr-content {
    color: #fff;
    h4 {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 1rem;
      margin: 2rem 0 0.5rem;
    }
    .appstore-subhead {
      margin: 0 0 2rem;
      img {
        max-width: 20px;
        transform: translate(0, -4px);
        margin-right: 0.5rem;
      }
    }
    .select_option_area {
      ul {
        li {
          a {
            &:hover {
              background: rgba(0, 169, 224, 0.1);
            }
          }
        }
      }
    }
  }
}
// Product Videos
section.scndpruduct-sec {
  .prdctpic {
    &:hover {
      transition-delay: 0s;
    }
    .prdclnkblk {
      padding: 1rem;
      h3 {
        display: block;
        background: #000;
        color: #fff;
        font-size: 18px;
        font-family: "Graphik LCG";
        font-weight: 500;
        margin: 0;
        padding: 0;
        text-align: left;
      }
      .lrndtlsp {
        p {
          padding: 0;
          margin: 0.5rem 0 0 0;
        }
      }
    }
  }
}
// Try it for Free
section.trybg-sec {
  padding: 5rem 0;
  @media (min-width: 1200px) {
    .dtrypic {
      transform: translate(-7%, 0) scale(1.1);
    }
  }
}
// Ratings
section.rting-sec {
}
// Magazines / Social Proof
section.grphmagzin {
}
// Language-learning methodology that's proven effective.
section.adspace-sec {
  @media (max-width: 575px) {
    min-height: auto;
    padding: 3rem 0;
    .bgpariscontent {
      position: relative;
      bottom: auto;
    }
  }
}
// Find a plan that speaks to you
section.plansecc {
  a {
    position: relative;
    z-index: 10;
  }
  .container {
    .brdshp {
      z-index: 1;
    }
  }
  h3 {
    margin-bottom: 0.5rem;
  }
}
// Stories to tell
section.stories-sec {
  .storyinfo {
    .strydetl {
      h3 {
        font-family: "Graphik LCG", sans-serif;
        font-weight: 500;
        a {
          font-family: "Graphik LCG", sans-serif;
          font-weight: 500;
        }
      }
      p {
        min-height: 6.5rem;
      }
    }
    @media (max-width: 1680px) {
      .strydetl {
        h3 {
          font-size: 24px;
          a {
            font-size: 24px;
          }
        }
        p {
          min-height: 8rem;
        }
      }
    }
    @media (max-width: 1440px) {
      .strydetl {
        h3 {
          min-height: 3rem;
        }
        p {
          min-height: 9rem;
        }
      }
    }
    @media (max-width: 1200px) {
      .storyinfo {
        p {
          min-height: 10rem;
        }
      }
    }
    @media (max-width: 1024px) {
      .storyinfo {
        p {
          min-height: 12rem;
        }
      }
    }
    @media (max-width: 768px) {
      .storyinfo {
        h3 {
          min-height: auto;
        }
        p {
          min-height: auto;
        }
      }
    }
  }
}
// Don't miss a second / Email Sign-Up
section.adspace-sec2 {
  //global min-height
  min-height: 540px;

  //hubspot email signup form styling
  .hbspt-form {
    padding: 0;
    .legal-consent-container {
      display: none;
    }
    .hs-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 3rem;
      .hs-email {
        width: 90%;
        height: 100% !important;
        .input {
          height: 100% !important;
          .hs-input {
            background: none;
            border: 2px solid #fff;
            border-radius: 2px 0 0 2px;
            font-family: "Graphik LCG";
            font-style: italic;
            color: #fff !important;
            font-size: 16px;
            padding: 0 2rem !important;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            margin: 0;
            outline: none;
            height: 100% !important;
          }
        }
      }
      .hs-submit {
        margin: 0;
        .actions {
          height: 100%;
          width: 150px;
          .hs-button {
            font-size: 12px !important;
            font-weight: 600 !important;
            font-family: "Graphik LCG", sans-serif !important;
            text-transform: uppercase;
            letter-spacing: 2px !important;
            background: #fff !important;
            color: #000 !important;
            padding: 0 !important;
            border-radius: 0 3px 3px 0 !important;
            border: 0 none !important;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 100% !important;
            width: 100%;
            &:active {
              line-height: normal !important;
              outline: none;
              font-family: "Graphik LCG", sans-serif !important;
              font-weight: 600 !important;
            }
            &:focus {
              line-height: normal !important;
              outline: none;
              font-family: "Graphik LCG", sans-serif !important;
              font-weight: 600 !important;
            }
          }
        }
      }
      label {
        display: none;
      }
    }
    .submitted-message {
      height: auto;
      color: #fff;
      overflow: visible;
      margin: 0;
      font-size: 1.5em;
      font-style: italic;
    }
  }
}
// Language Adventurers / Instagram Carousel
section.advnclan-sec {
  display: none;
  .property-slider {
    .item {
      background: none;
      border-radius: 0;
      a {
        > img {
          border-radius: 6px;
          background: #efefef;
          min-height: 250px;
          min-width: 250px;
          object-fit: cover;
        }
      }
    }
  }
}
// Organizations
section.organization {
  .container {
    max-width: 1440px;
  }
  .wrapHome {
    .clpdd {
      min-height: 250px;
      .orgHome {
        &:hover {
          .overlay1 {
            opacity: 0.15;
            visibility: visible;
          }
        }
        @media (max-width: 768px) {
          .text {
            position: relative;
            top: 0;
            justify-content: center;
            p, a {
              opacity: 1;
            }
          }
          .overlay1 {
            opacity: 0.15;
            visibility: visible;
          }
          .overlay2 {
            opacity: 1;
            visibility: visible;
            display: block;
          }
        }
      }
    }
  }
}

// Global
.bgpariscontent {
  h3 {
    line-height: 1.1em;
    letter-spacing: 0.01em;
  }
}
