/* #######################
Base CSS FIXES and Styles
#########################*/
@import url(//fonts.googleapis.com/earlyaccess/notosanssyriaceastern.css);
/* ### Global ### */
a {
  color: #1d98d5;
}

img {
  max-width: 100%;
  height: auto;
}

.vedio > a {
  -webkit-box-shadow: 3px 2px 8px 6px #ccc;
          box-shadow: 3px 2px 8px 6px #ccc;
}

.all_btn:hover {
  color: #fff;
  background: #1d98d5;
  border-color: #1d98d5;
}

/* #### Document and Body bootstrap Bugs ####
/* responsive smooth full width header */
@media screen and (max-width: 720px) {
  header > .container {
    max-width: 100%;
  }
}

/* fix template bootstrap bug of margin on body &&
right side whitespace from body not fitting document size below 1200px */
html,
body {
  margin-top: 0px !important;
  overflow-x: hidden;
}

/* fix bug bootstrap mobile menu hiding nav upon reverting to desktop */
@media screen and (min-width: 991px) {
  header .container nav.main_navigation {
    display: block !important;
  }
}

/* fix wraping nav due to width */
@media screen and (max-width: 992px) {
  .main_header .container {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

/* ####### Header ####### */
.header_top > .container > ul {
  padding: 0px;
}

.logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  max-width: 100px;
}

.main_header nav.main_navigation > ul:nth-child(2) {
  padding: 0 15px 0 0;
}

.main_navigation ul ul li a {
  text-transform: inherit;
}

.banner_content h1 {
  letter-spacing: 0px;
}

.mean-expand {
  -webkit-transform: none;
          transform: none;
  top: 1rem;
  width: 8px;
}

/* ####### Footer ####### */
/* Responsive FOOTER  767px */
@media screen and (max-width: 767px) {
  /* mobile downloads */
  .footer-link {
    text-align: left;
  }
  .footer-link > a {
    width: 150px;
    max-width: 150px;
    height: auto;
    margin: 10px 0px;
    display: inline-block !important;
  }
  .footer-link > a > img {
    width: 100%;
    max-width: 100%;
    margin: 0px;
  }
  .footer-link > a:nth-child(1) {
    margin-right: calc(100% - 48% - 155px);
  }
  .footer-newsletter .hbspt-form {
    max-width: 400px !important;
    margin: 0 auto;
  }
  .footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button {
    margin: 0 auto;
  }
  /* footer blog form */
  #hsSubscribeFooter form .hs-input {
    padding: 8px 11px !important;
  }
  #hsSubscribeFooter form .hs-input {
    padding-right: 96px !important;
  }
  .footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button {
    display: block;
    position: absolute !important;
    right: 13px;
    top: 72px;
    margin: 0px;
    background: white !important;
  }
  /* social nav */
  .footer-social-link ul {
    padding: 20px 0;
  }
  .footer-social-link a {
    width: 38px;
    height: 38px;
    font-size: 21px;
    padding: 4px 0 0 0;
  }
}

/* Mobile FOOTER  575px */
@media screen and (max-width: 575px) {
  .main_footer {
    padding: 25px 0 25px 0;
  }
  /* footer blog form */
  section.footer-newsletter .col-12.col-xl-12 {
    padding: 0px 13px;
  }
  #hsSubscribeFooter form .hs-input {
    padding: 8px 11px !important;
  }
  #hsSubscribeFooter form .hs-input {
    padding-right: 96px !important;
  }
  .footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button {
    display: block;
    position: absolute !important;
    right: 13px;
    top: 72px;
    margin: 0px;
    background: white !important;
  }
  /* social nav */
  .footer-social-link ul {
    padding: 20px 0;
  }
  .footer-social-link a {
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 2px 0 0 0;
  }
}

/* mobile tiny 33px */
@media screen and (max-width: 350px) {
  .footer-link > a {
    display: block !important;
    margin: 10px auto !important;
    max-width: 175px;
    width: 100%;
  }
  #hsSubscribeFooter form .hs-input {
    padding-right: 10px !important;
  }
  .footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button {
    display: block;
    position: relative !important;
    background: white !important;
    margin: 0px auto;
    top: 0px;
    left: 0px;
  }
}

/* ###########################
PAGE specific STYLING
############################ */
/* Languages */
.a_z_languange_item .language_arrow {
  display: none;
}

.language_banner .country_language img {
  width: 100%;
}

.top_nine_banner .top_nine_device {
  text-align: center;
}

.top_nine_banner .top_nine_device img {
  min-width: 240px;
}

/* Languages && Educators - Resource listing */
section.mango_head {
  margin-bottom: 4rem;
  padding: 0 15px;
}

/* Languages - English Languages */
.specialty_courses_banner {
  background-image: url("/userfiles/images/backgrounds/bg-hero-pattern-black-2rows.png");
}

/* Languages - Mango Movies */
.languageVideo_content_inner {
  padding-right: 4rem;
  padding-bottom: 4rem;
}

.mango_premiere_item li h6 {
  letter-spacing: 0;
}

/* Target Langauge landing page */
.course_overview_panel .course_overview_inner {
  font-family: "proxima-nova", sans-serif, Noto Sans Syriac Eastern;
}

/* Find Mango */
input#zip {
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid transparent;
}

@media screen and (max-width: 480px) {
  .findmango_banner h1 {
    font-size: 1.5em;
  }
  input#zip {
    width: 100%;
  }
}

.matching_location_item a {
  letter-spacing: 0;
  border-width: 2px;
}

ul#terms-nav {
  list-style: none;
  margin: 0;
}

ul#terms-nav li {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
}

ul#terms-nav li:first-child {
  padding-top: 0;
}

ul#terms-nav li:last-child {
  border: 0 none;
}

/* Events Pages */
.event_wrok li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.event_wrok li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .impact_bellow_banner {
    height: 30vw;
    padding: 0;
  }
}

section.inner_banner.event_details_banner > .container > .inner_banner_heading {
  margin: 0;
}

/* Languages - Mango Movies */
#languageVideoModal {
  z-index: 10;
}

.languageVideo_content {
  height: 100%;
  max-height: 580px;
  padding: 2rem 2rem 0 2rem;
}

@media screen and (max-width: 991px) {
  .language_video_modal {
    padding-top: 100px;
  }
}

/* Mobile Header */
@media screen and (max-width: 991px) {
  .main_navigation {
    top: 80px;
  }
}

/* How-it-works & Higher-Ed */
.tab-together .tab-content .container.tab-pane {
  padding: 0 15px !important;
}

/* Company Page */
.compay_member_modal .zz {
  padding: 1rem 2rem 1rem 0;
  margin-top: 0;
  max-height: 25rem;
  overflow-y: scroll;
}

.compay_member_modal .zz::-webkit-scrollbar {
  width: 10px;
}

.compay_member_modal .zz::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.compay_member_modal .zz::-webkit-scrollbar-thumb {
  background: #888;
}

.compay_member_modal .zz::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 767px) {
  .compay_member_modal .zz {
    padding: 2rem;
  }
}

.compay_member_modal .aa {
  margin-top: 0;
}

.compay_member_modal .modal-header {
  padding: 0;
  border: 0 none;
}

.compay_member_modal .modal-header .close {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
}

.compay_member_modal .modal-header .close:hover {
  opacity: 1;
}

/* padding to images connecting */
@media screen and (max-width: 480px) {
  .Customer {
    padding: 40px 0;
  }
}

/* ###################
### Vain Floating CSS ####
################### */
@-webkit-keyframes animate-floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(10%) scale(1.1);
            transform: translateY(10%) scale(1.1);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes animate-floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(10%) scale(1.1);
            transform: translateY(10%) scale(1.1);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.animate-floating {
  -webkit-animation: floating 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
          animation: floating 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@-webkit-keyframes animate-breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes animate-breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate-breathing {
  -webkit-animation: animate-breathing 7s ease-out infinite normal;
          animation: animate-breathing 7s ease-out infinite normal;
}

/* ###################
### RESOURCES #######
#####################*/
/* Language Learning Resources */
.site_breadcrumb li a:hover {
  text-decoration: underline;
}

.resources-languages- .phrases_wrap > .container > .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resources-languages-
.resources_pharses_translate
li:hover:not(.resources_pharses_translate_heading) {
  cursor: pointer;
  background: rgba(0, 169, 224, 0.15);
}

.survival_basics_translate li .col {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .resources-languages- .initial_item_content h3 {
    padding-right: 19px;
  }
  .resources-languages- .useful_phrases_list h3 {
    padding-right: 29px;
  }
  .video_collection_listVideo img,
  .video_collection_listVideo iframe {
    max-height: 49vw !important;
    -webkit-transition: 0.4s !important;
    transition: 0.4s !important;
    max-width: 80vw !important;
  }
}

/* ##########################
#### TEMPLATE PAGES ####
########################## */
.privacy_team_tab p {
  font-size: 16px;
}

/* ### LEGAL PAGES ### */
/* class to target legal body */
.legal-privacy-policy .privacy_team_tab_panel
.privacy_team_tab
.row
.col-lg-3.col-md-4.col-sm-12.col-12,
.legal-terms-and-conditions .privacy_team_tab_panel
.privacy_team_tab
.row
.col-lg-3.col-md-4.col-sm-12.col-12,
.legal-content-classification-guide .privacy_team_tab_panel
.privacy_team_tab
.row
.col-lg-3.col-md-4.col-sm-12.col-12,
.legal-feedback-policy .privacy_team_tab_panel
.privacy_team_tab
.row
.col-lg-3.col-md-4.col-sm-12.col-12,
.legal-movie-regulations .privacy_team_tab_panel
.privacy_team_tab
.row
.col-lg-3.col-md-4.col-sm-12.col-12,
.legal-terms-and-conditions-promotions .privacy_team_tab_panel
.privacy_team_tab
.row
.col-lg-3.col-md-4.col-sm-12.col-12,
.legal-cancellations-policy .privacy_team_tab_panel
.privacy_team_tab
.row
.col-lg-3.col-md-4.col-sm-12.col-12,
.legal-credits .privacy_team_tab_panel
.privacy_team_tab
.row
.col-lg-3.col-md-4.col-sm-12.col-12 {
  display: block;
}

.legal-privacy-policy .privacy_team_tab p,
.legal-terms-and-conditions .privacy_team_tab p,
.legal-content-classification-guide .privacy_team_tab p,
.legal-feedback-policy .privacy_team_tab p,
.legal-movie-regulations .privacy_team_tab p,
.legal-terms-and-conditions-promotions .privacy_team_tab p,
.legal-cancellations-policy .privacy_team_tab p,
.legal-credits .privacy_team_tab p {
  font-size: 85%;
}

.legal-privacy-policy .privacy_team_tab h2,
.legal-terms-and-conditions .privacy_team_tab h2,
.legal-content-classification-guide .privacy_team_tab h2,
.legal-feedback-policy .privacy_team_tab h2,
.legal-movie-regulations .privacy_team_tab h2,
.legal-terms-and-conditions-promotions .privacy_team_tab h2,
.legal-cancellations-policy .privacy_team_tab h2,
.legal-credits .privacy_team_tab h2 {
  font-weight: 700;
  font-size: 1.25em;
}

.legal-privacy-policy .privacy_team_tab ul,
.legal-terms-and-conditions .privacy_team_tab ul,
.legal-content-classification-guide .privacy_team_tab ul,
.legal-feedback-policy .privacy_team_tab ul,
.legal-movie-regulations .privacy_team_tab ul,
.legal-terms-and-conditions-promotions .privacy_team_tab ul,
.legal-cancellations-policy .privacy_team_tab ul,
.legal-credits .privacy_team_tab ul {
  list-style: disc;
  margin: 0 0 15px 30px;
}

.legal-privacy-policy .privacy_team_tab .nd-film-section,
.legal-terms-and-conditions .privacy_team_tab .nd-film-section,
.legal-content-classification-guide .privacy_team_tab .nd-film-section,
.legal-feedback-policy .privacy_team_tab .nd-film-section,
.legal-movie-regulations .privacy_team_tab .nd-film-section,
.legal-terms-and-conditions-promotions .privacy_team_tab .nd-film-section,
.legal-cancellations-policy .privacy_team_tab .nd-film-section,
.legal-credits .privacy_team_tab .nd-film-section {
  margin: 50px 0 0px 0px;
  border: 1px solid black;
  padding: 25px;
}

.legal-privacy-policy .privacy_team_tab .nd-film-section h2,
.legal-terms-and-conditions .privacy_team_tab .nd-film-section h2,
.legal-content-classification-guide .privacy_team_tab .nd-film-section h2,
.legal-feedback-policy .privacy_team_tab .nd-film-section h2,
.legal-movie-regulations .privacy_team_tab .nd-film-section h2,
.legal-terms-and-conditions-promotions .privacy_team_tab .nd-film-section h2,
.legal-cancellations-policy .privacy_team_tab .nd-film-section h2,
.legal-credits .privacy_team_tab .nd-film-section h2 {
  margin: 10px 0;
  weight: bold;
  font-size: 24px;
}

/* #################
MEDIA QUERY PRINTER
#################### */
@media print {
  /*  header position  */
  .header-container-wrapper {
    position: relative;
  }
  .body-container-wrapper {
    padding-top: 0px;
  }
  header.main_header .container {
    max-width: 100% !important;
  }
  /* Footer   */
  .footer-container-wrapper,
  .main_footer,
  .footer-newsletter {
    display: none !important;
  }
  /* REMOVE VISUALY from printing */
  .login_for_mobile,
  .header_top,
  .header_top .container,
  .main_header .sub_menu_wrap,
  .main_navigation,
  .main_header_inner .all_btn,
  .main_header_inner button {
    display: none !important;
  }
  /* page content */
  .top_nine_device,
  img {
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
  }
}

/* END of PRINT QUERY */
/*# sourceMappingURL=style.css.map */