/* #######################
Base CSS FIXES and Styles
#########################*/
@import url(//fonts.googleapis.com/earlyaccess/notosanssyriaceastern.css);
$ox-blue: #1d98d5;
$ox-red: #e7372c;
$ox-green: #01a150;
$ox-yellow: #eeaa21;

/* ### Global ### */
a {
  color: $ox-blue;
}
// all images use the same bootstrap .img-fluid properties
img {
  max-width: 100%;
  height: auto;
}
// videos with a box-shadow
.vedio > a {
  box-shadow: 3px 2px 8px 6px #ccc;
}

// base button class
.all_btn {
  &:hover {
    color: #fff;
    background: $ox-blue;
    border-color: $ox-blue;
  }
}

/* #### Document and Body bootstrap Bugs ####
/* responsive smooth full width header */
@media screen and (max-width: 720px) {
  header > .container {
    max-width: 100%;
  }
}
/* fix template bootstrap bug of margin on body &&
right side whitespace from body not fitting document size below 1200px */
html,
body {
  margin-top: 0px !important;
  overflow-x: hidden;
}

/* fix bug bootstrap mobile menu hiding nav upon reverting to desktop */
@media screen and (min-width: 991px) {
  header .container nav.main_navigation {
    display: block !important;
  }
}
/* fix wraping nav due to width */
@media screen and (max-width: 992px) {
  .main_header .container {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}

/* ####### Header ####### */
.header_top > .container > ul {
  padding: 0px;
}
.logo {
  flex: 0 0 100px;
  max-width: 100px;

  a {
    position: relative;
    z-index: 10;
  }
}
.main_header nav.main_navigation > ul:nth-child(2) {
  padding: 0 15px 0 0;
}
.main_navigation ul ul li a {
  text-transform: inherit;
}
.banner_content h1 {
  letter-spacing: 0px;
}
.mean-expand {
  transform: none;
  top: 1rem;
  width: 8px;
}

/* ####### Footer ####### */

.footer-social-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}
/* Responsive FOOTER  767px */
@media screen and (max-width: 767px) {
  /* mobile downloads */
  .footer-link {
    text-align: left;
  }
  .footer-link > a {
    width: 150px;
    max-width: 150px;
    height: auto;
    margin: 10px 0px;
    display: inline-block !important;
  }
  .footer-link > a > img {
    width: 100%;
    max-width: 100%;
    margin: 0px;
  }
  .footer-link > a:nth-child(1) {
    margin-right: calc(100% - 48% - 155px);
  }

  .footer-newsletter .hbspt-form {
    max-width: 400px !important;
    margin: 0 auto;
  }
  .footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button {
    margin: 0 auto;
  }
  /* footer blog form */
  #hsSubscribeFooter form .hs-input {
    padding: 8px 11px !important;
  }
  #hsSubscribeFooter form .hs-input {
    padding-right: 96px !important;
  }
  .footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button {
    display: block;
    position: absolute !important;
    right: 13px;
    top: 72px;
    margin: 0px;
    background: white !important;
  }
  /* social nav */
  .footer-social-link ul {
    padding: 20px 0;
  }
  .footer-social-link a {
    width: 38px;
    height: 38px;
    font-size: 21px;
    padding: 4px 0 0 0;
  }
}
/* Mobile FOOTER  575px */
@media screen and (max-width: 575px) {
  .main_footer {
    padding: 25px 0 25px 0;
  }
  /* footer blog form */
  section.footer-newsletter .col-12.col-xl-12 {
    padding: 0px 13px;
  }
  #hsSubscribeFooter form .hs-input {
    padding: 8px 11px !important;
  }
  #hsSubscribeFooter form .hs-input {
    padding-right: 96px !important;
  }
  .footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button {
    display: block;
    position: absolute !important;
    right: 13px;
    top: 72px;
    margin: 0px;
    background: white !important;
  }
  /* social nav */
  .footer-social-link ul {
    padding: 20px 0;
  }
  .footer-social-link a {
    width: 50px;
    height: 50px;
    font-size: 25px;
    padding: 2px 0 0 0;
  }
}

/* mobile tiny 33px */
@media screen and (max-width: 350px) {
  // download app links
  .footer-link > a {
    display: block !important;
    margin: 10px auto !important;
    max-width: 175px;
    width: 100%;
  }

  #hsSubscribeFooter form .hs-input {
    padding-right: 10px !important;
  }
  .footer-newsletter #hsSubscribeFooter .hbspt-form .hs-button {
    display: block;
    position: relative !important;
    background: white !important;
    margin: 0px auto;
    top: 0px;
    left: 0px;
  }
}

/* ###########################
PAGE specific STYLING
############################ */
/* Languages */
.a_z_languange_item .language_arrow {
  display: none;
}

.language_banner {
  .country_language {
    img {
      width: 100%;
    }
  }
}

.top_nine_banner {
  .top_nine_device {
    text-align: center;

    img {
      min-width: 240px;
    }
  }
}

/* Languages && Educators - Resource listing */
section.mango_head {
  margin-bottom: 4rem;
  padding: 0 15px;
}

/* Languages - English Languages */
.specialty_courses_banner {
  background-image: url("/userfiles/images/backgrounds/bg-hero-pattern-black-2rows.png");
}

/* Languages - Mango Movies */
.languageVideo_content_inner {
  padding-right: 4rem;
  padding-bottom: 4rem;
}

.mango_premiere_item {
  li {
    h6 {
      letter-spacing: 0;
    }
  }
}

/* Target Langauge landing page */
// language overview interactive font fix chaldean
.course_overview_panel .course_overview_inner {
  font-family: "proxima-nova", sans-serif, Noto Sans Syriac Eastern;
}

/* Find Mango */

// fix input size
input#zip {
  padding: 10px 30px;
  background-color: #fff;
  border: 1px solid transparent;
}

@media screen and (max-width: 480px) {
  // smaller h1 on mobile
  .findmango_banner h1 {
    font-size: 1.5em;
  }

  // wider input on mobile
  input#zip {
    width: 100%;
  }
}

.matching_location_item a {
  letter-spacing: 0;
  border-width: 2px;
}

// custom left nav appearance
ul#terms-nav {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border: 0 none;
    }
  }
}

/* Events Pages */

.event_wrok li {
  display: flex;

  div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .impact_bellow_banner {
    height: 30vw;
    padding: 0;
  }
}

section.inner_banner.event_details_banner > .container > .inner_banner_heading {
  margin: 0;
}

/* Languages - Mango Movies */

// modal overtop header
#languageVideoModal {
  z-index: 10;
}

// modal text use full avaiable height
.languageVideo_content {
  height: 100%;
  max-height: 580px;
  padding: 2rem 2rem 0 2rem;
}

@media screen and (max-width: 991px) {
  // modal move further down that mobile header
  .language_video_modal {
    padding-top: 100px;
  }
}

/* Mobile Header */
@media screen and (max-width: 991px) {
  // mobile header nav slides out with a 3px gap at top
  .main_navigation {
    top: 80px;
  }
}

/* How-it-works & Higher-Ed */

// specific padding for mobile tabs, important to override coded inline-style
.tab-together .tab-content .container.tab-pane {
  padding: 0 15px !important;
}

/* Company Page */

.compay_member_modal {
  .zz {
    padding: 1rem 2rem 1rem 0;
    margin-top: 0;
    max-height: 25rem;
    overflow-y: scroll;

    // width
    &::-webkit-scrollbar {
      width: 10px;
    }

    // track
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    // handle
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    // handle on hover
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    @media screen and (max-width: 767px) {
      padding: 2rem;
    }
  }

  .aa {
    margin-top: 0;
  }

  .modal-header {
    padding: 0;
    border: 0 none;

    .close {
      padding: 0;
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 4rem;
      height: 4rem;

      &:hover {
        opacity: 1;
      }
    }
  }
}

/* padding to images connecting */
@media screen and (max-width: 480px) {
  .Customer {
    padding: 40px 0;
  }
}

/* ###################
### Vain Floating CSS ####
################### */
@keyframes animate-floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%) scale(1.1);
  }
  100% {
    transform: translateY(0%);
  }
}
.animate-floating {
  animation: floating 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@keyframes animate-breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.animate-breathing {
  animation: animate-breathing 7s ease-out infinite normal;
}

/* ###################
### RESOURCES #######
#####################*/
/* Language Learning Resources */
// breadcrumb
.site_breadcrumb li a:hover {
  text-decoration: underline;
}

// intial page
.resources-languages- .phrases_wrap > .container > .row {
  justify-content: center;
}

// useful phrases
.resources-languages-
  .resources_pharses_translate
  li:hover:not(.resources_pharses_translate_heading) {
  cursor: pointer;
  background: rgba(0, 169, 224, 0.15);
}
.survival_basics_translate li .col {
  align-self: center;
}

/* MOBILE */
@media screen and (max-width: 767px) {
  .resources-languages- .initial_item_content h3 {
    padding-right: 19px;
  }
  .resources-languages- .useful_phrases_list h3 {
    padding-right: 29px;
  }
  .video_collection_listVideo img,
  .video_collection_listVideo iframe {
    max-height: 49vw !important;
    transition: 0.4s !important;
    max-width: 80vw !important;
  }
}

/* ##########################
#### TEMPLATE PAGES ####
########################## */
.privacy_team_tab p {
  font-size: 16px;
}

/* ### LEGAL PAGES ### */
/* class to target legal body */
.legal-privacy-policy,
.legal-terms-and-conditions,
.legal-content-classification-guide,
.legal-feedback-policy,
.legal-movie-regulations,
.legal-terms-and-conditions-promotions,
.legal-cancellations-policy,
.legal-credits {
  .privacy_team_tab_panel
    .privacy_team_tab
    .row
    .col-lg-3.col-md-4.col-sm-12.col-12 {
    display: block;
  }
  // text sizing adjustments
  .privacy_team_tab {
    p {
      font-size: 85%;
    }
    h2 {
      font-weight: 700;
      font-size: 1.25em;
    }
    ul {
      list-style: disc;
      margin: 0 0 15px 30px;
    }
    .nd-film-section {
      margin: 50px 0 0px 0px;
      border: 1px solid black;
      padding: 25px;

      h2 {
        margin: 10px 0;
        weight: bold;
        font-size: 24px;
      }
    }
  }
}

/* #################
MEDIA QUERY PRINTER
#################### */

@media print {
  /*  header position  */
  .header-container-wrapper {
    position: relative;
  }

  .body-container-wrapper {
    padding-top: 0px;
  }

  header.main_header .container {
    max-width: 100% !important;
  }

  /* Footer   */
  .footer-container-wrapper,
  .main_footer,
  .footer-newsletter {
    display: none !important;
  }

  /* REMOVE VISUALY from printing */
  .login_for_mobile,
  .header_top,
  .header_top .container,
  .main_header .sub_menu_wrap,
  .main_navigation,
  .main_header_inner .all_btn,
  .main_header_inner button {
    display: none !important;
  }

  /* page content */
  .top_nine_device,
  img {
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
  }
}

/* END of PRINT QUERY */
body.success_story {
  .site_breadcrumb {
    padding-top: 1rem;
  }
  blockquote {
    padding-left: 2rem;
    border-left: 2px solid var(--color-mango-blue);
    margin: 2rem 0;
    font-size: 1.75em;
    line-height: 1.25em;
  }
}
